* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.navbar__logo-link {
    cursor: pointer;
}

.navbar__logo-link:active {
    opacity: 0.8;
}

.navbar-list {
    display: flex;
    margin-right: 30px;
}

.navbar-list__item {
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-list__item:active {
    opacity: 0.8;
}

.navbar-list__item:hover .navbar-list__item__link {
    color: black;
}

.solid-rule {
    transition: 0.3s ease;
    width: 0;
    height: 0;
    border: none;
}

.navbar-list__item:hover .solid-rule {
    width: 100%;
    height: 3px;
    background-color: #242A45;
}

.navbar-list__item:last-child:hover .navbar-list__item__link {
    color: white;
}

.navbar-list__item:last-child {
    background-color: #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
}

.navbar-list__item__link {
    letter-spacing: 1.5px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    color: #242A45;
    transition: 0.3s ease;
}

.last-navbar-list__item__link {
    color: #ddd;
}

.top-section-body {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    background-image: url("./img/group52-1.1.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 850px 400px;
}

.top-section-body > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.top-section-body__content-box {
    width: 574.23px;
    width: 46%;
}

/* .top-section-body__post-box {
    
} */

.top-section-body__post-box > img {
    width: 100%;
}

.top-section-body__content-box__title {
    user-select: none;
    color: #242A45;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    /* or 108% */
    letter-spacing: -0.15px;
}

.top-section-body__content-box__text {
    user-select: none;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #242A45;
    opacity: 0.5;
    padding-top: 20px;
    padding-bottom: 30px;
}

.btn-elements__blue {
    border: none;
    color: #fff;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    background: #5267DF;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-elements__blue:hover {
    /* cursor: pointer; */
    background-color: #3955f1;
}

.btn-elements__blue:active {
    opacity: 0.8;
}

.btn-elements__white {
    border: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    padding: 20px 30px;
    background: #F7F7F7;
    margin-left: 15px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn-elements__white:hover {
    /* cursor: pointer; */
    background-color: #e6e6e6;
}

.middle-section-body {
    padding-bottom: 80px;
    background-image: url('./img/group32-1.1.png');
    background-repeat: no-repeat;
    background-size: 800px 350px;
    background-position: 0% 100%;
}

.middle-section-body__header-txt {
    padding: 60px 0px;
}

.middle-section-body__header-txt__title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #242A45;
    margin-bottom: 20px;
}

.middle-section-body__header-txt__text {
    width: 550px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    opacity: 0.5;
}

.middle-section-body__middle__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    margin-bottom: 10px;
}

.middle-section-body__middle__list__item:hover {
    cursor: pointer;
}

.middle-section-body__middle__list__item:hover .middle-section-body__middle__list__item__content {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 27px;
}

.middle-section-body__middle__list__item:hover .bottom-rule-line {
    height: 3px;
}

.middle-section-body__middle__list__item__content {
    font-weight: normal;
    text-align: center;
    padding-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.533333px;
    color: #242A45;
    opacity: 0.75;
    transition: 0.3s ease;
}

.bottom-rule-line {
    margin-bottom: 2px;
    width: 100%;
    height: 0;
    border: none;
    background-color: #FA5959;
    transition: 0.3s ease;
}

.defaut__bottom-rule-line {
    width: 266px;
}

.middle-section-body__footer__post-box {
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlast-section-body {
    padding: 80px 0px;
}

.overlast-section-body__title {
    text-align: center;
    letter-spacing: -0.1px;
    font-weight: 500;
    font-size: 32px;
    color: #242A45;
}

.overlast-section-body__text-content {
    width: 580px;
    margin: 0 auto; 
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    opacity: 0.5;
    padding-top: 25px;
    padding-bottom: 40px;
}

.overlast-section-body__list {
    width: 820px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.overlast-section-body__list__item {
    border-radius: 15px;
    background: #FFFFFF;
    height: 330px;
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
    transition: 0.3s ease;
}

.overlast-section-body__list__item:hover {
    transform: scale(1.02);
}

.overlast-section-body__list__item:nth-child(2) {
    margin-top: 40px;
}

.overlast-section-body__list__item:nth-child(3) {
    margin-top: 80px;
}

.overlast-section-body__list__item__card__title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.25px;
    color: #242A45;   
    text-align: center;
    padding-top: 25px;
    padding-bottom: 5px;
}

.overlast-section-body__list__item__card__coment-txt {
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #242A45;
    opacity: 0.5;
    padding-bottom: 20px;
}

.overlast-section-body__list__item__header-card {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 3px dotted rgba(73, 93, 207, 0.20012);
}

.overlast-section-body__list__item__card__img {
    width: 102px;
    height: 100px;
}

.overlast-section-body__list__item__footer-card {
    padding: 20px;
}

.main-form-section-body {
    padding-top: 60px;
    padding-bottom: 140px;
}

.main-form-section-body__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #242A45;
}

.main-form-section-body__txt {
    width: 520px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    text-align: center;   
    color: #242A45;
    opacity: 0.5;
    padding-top: 10px;
    padding-bottom: 25px;
}

.main-form-section-body__form {
    width: 580px;
    margin: 0 auto;
}

.main-form-section-body__label {
    display: flex;
    flex-direction: column;
}

.main-form-section-body__select {
    outline: none;
    padding: 25px 0px;
    border-top: 1px solid lightgray;
    border-right: none;
    border-left: none;
    border-bottom: none;
    background-color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #242A45;
}

.main-form-section-body__select:hover {
    opacity: 0.8;
}

.main-form-section-body__select:last-child {
    border-bottom: 1px solid lightgray;
}

#main-form-section-body__info-btn {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footer-section-body {
    background-color:  #5267DF;
    padding: 80px 0px;
}

.joined-people__index-txt {
    font-weight: 500;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 5px;
    color: #FFFFFF;
}

.footer-section-body__title {
    padding-top: 20px;
    padding-bottom: 35px;
    width: 450px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}

.footer-section-body__form {
    width: 480px;
    margin: 0 auto;
}

.footer-section-body__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-section-body__input {
    outline: none;
    padding-left: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 325px;
    height: 50px;
    border: none;
}

.footer-section-body__input::placeholder {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: rgba(36, 42, 69, 0.250109);
}

.footer-section-body__btn {
    width: 140px;
    height: 50px;
    background: #FA5959;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    border: none;
    text-align: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.footer-section-body__btn:active {
    opacity: 0.8;
}

.final-footer-section {
    background-color: #242A45;
}

.final-footer-section > .container {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final-footer-section > .container > .final-footer-section__main-list, .final-footer-section__second-list {
    display: flex;
    align-items: center;
}

.final-footer-section > .container > .final-footer-section__main-list > li,
.final-footer-section > .container > .final-footer-section__second-list > li
{
    padding: 0px 20px;
}

.final-footer-section > .container > .final-footer-section__main-list > li:first-child {
    padding-left: 0;
    padding-right: 20px;
}

.final-footer-section > .container > .final-footer-section__second-list > li:last-child {
    padding-left: 20px;
    padding-right: 0px;
}

.final-footer-section__main-list__item > a {
    text-decoration: none;
    font-size: 13px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}